<a href="https://colab.research.google.com/github/ShreshtaP/-Shreshta_INFO5731_-Fall2021/blob/main/In_Class_Excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = input("Enter a string: ") 
print("Length of the string is:", len(a))

Enter a string: shreshta
Length of the string is: 8

In [7]:
def count_char(str):
    dict = {}
    for a in str:
        keys = dict.keys()
        if a in keys:
            dict[a] += 1
        else:
            dict[a] = 1
    return dict
print(count_char('amazon.com'))

{'a': 2, 'm': 2, 'z': 1, 'o': 2, 'n': 1, '.': 1, 'c': 1}

In [8]:
list = [1, 2, 3, 4, 5] 
total = sum(list) 
print("Sum of all items in list:",total)

Sum of all items in list: 15

In [9]:
def char_change(str):
    char = str[0]
    str = str.replace (char, '$')
    str = char + str [1 : ]
    return str
print(char_change('windows'))

windo$s

In [10]:
a = int(input("Enter a value: "))
b = int(input("Enter b value: "))
d = (1 + a/b)**3
S = 3.14 * d
print("S value is :", S)

Enter a value: 1
Enter b value: 2
S value is : 10.5975

In [11]:
dict1={1:100,2:200}
dict2={3:300,4:400}
dict3={5:500,6:600} 
dict4 = {**dict1,**dict2,**dict3}  
print(dict4)

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500, 6: 600}

In [12]:
tuple = (1,2,3,4)
element = 2
if element in tuple:
    print("exists in tuple")
else:
    print("does not exist in tuple")

exists in tuple

In [13]:
s = {6, 2, 12, 28,25}
print(min(s))
print(max(s))

2
28

In [14]:
import random
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761',
              'rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
group=1
members_in_group=6
for student in student_list[:]:              
    if members_in_group==6:
        print("Group {} for term project: ".format(group))
        members_in_group=0
        group += 1
    person=random.choice(student_list)
    print(person)
    members_in_group += 1
    student_list.remove(str(person))

Group 1 for term project:
vmb0067
rak0120
ttp0037
ri0094
hn0145
py0080
Group 2 for term project:
yye0005
dy0091
mn0426
hc0439
vl0135
rs0850
Group 3 for term project:
tv0119
pk0339
nm0547
at0739
ds0761
msp0174
Group 4 for term project:
dd0420
mv0299
pn0159
rrk0058
spk0057
ss1995
Group 5 for term project:
pc0353
snd0097
bk0301
sg0940
at0768

In [15]:
def duplicate_element(num):
    num_set = set()
    no_duplicate = -1
    for i in range(len(num)):
      if num[i] in num_set:
            return num[i]
      else:
            num_set.add(num[i])
    return no_duplicate
print(duplicate_element([1, 2, 2, 3, 4, 5]))
print(duplicate_element([1, 2, 3, 3, 4]))
print(duplicate_element([1, 2, 3, 4, 5]))
print(duplicate_element([1, 2, 3, 3, 2, 2, 4, 4]))

2
3
-1
3

In [16]:
from datetime import date, timedelta
def sundays(year):
       date1 = date(year, 1, 1)       
       date1 += timedelta(days = 6 - date1.weekday())  
       while date1.year == year:
          yield date1
          date1 += timedelta(days = 7)
for sun in sundays(2021):
   print(sun)

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26