<a href="https://colab.research.google.com/github/ShreshtaP/-Shreshta_INFO5731_-Fall2021/blob/main/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [20]:
import random 
r_num = random.sample(range(1,100), 12)
r_num.sort()
print ('Ascending order is:', r_num)
r_num.sort(reverse=True)
print ('Descending order is:', r_num)
Avg = sum(r_num) / len(r_num)
print('Average is:', Avg)

Ascending order is: [1, 5, 8, 9, 13, 32, 51, 52, 53, 57, 67, 96]
Descending order is: [96, 67, 57, 53, 52, 51, 32, 13, 9, 8, 5, 1]
Average is: 37.0

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [40]:
#1 
print("Please enter two sentences:")
first_sentence = input("Enter first sentence: ")
second_sentence = input("Enter second sentence: ")
#2
import re 
list1= re.findall("[\w']+|[^\w\s]", first_sentence)
print (list1)
list2= re.findall("[\w']+|[^\w\s]", second_sentence)
print (list2)

Please enter two sentences:
Enter first sentence: hi how are you?
Enter second sentence: hi. im good! how are you?
['hi', 'how', 'are', 'you', '?']
['hi', '.', 'im', 'good', '!', 'how', 'are', 'you', '?']

In [39]:
#2 
common_word = []
for word in list1:
  if word in list2:
    common_word.append(word)
print(common_word)

['hi', 'name']

In [57]:
#3
Punctuation_list = ''''@""!()?-{};:'"\,[]<>./#$%^&*_~'''
no_punct1 = ''
for a in first_sentence:
  for word in a:
    if word not in Punctuation_list:
         no_punct1 += word
print(no_punct1)

no_punct2 = ''
for b in second_sentence:
  for word in b:
    if word not in Punctuation_list:
         no_punct2 += word
print(no_punct2)

hi how are you
hi im good how are you

In [73]:
vowels_list = 'aeiou'
vowel_count = {}.fromkeys(vowels_list,0)
for j in first_sentence:
  for letter in j:
     if letter in vowel_count:
         vowel_count[letter] += 1
print("vowel count is:",vowel_count)

count = {}.fromkeys(vowels,0)
for k in second_sentence:
  for char in k:
     if char in count:
         count[char] += 1
print("vowel count is:",count)

vowel count is: {'a': 1, 'e': 1, 'i': 1, 'o': 2, 'u': 1}
vowel count is: {'a': 1, 'e': 1, 'i': 2, 'o': 4, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [81]:
# Your code here

def volofsphere(r, pi = 3.14):
  return (4/3) * pi * (r ** 3)

print('r   V')
for r in range(1,10):
  print (str(r) +" " +str(volofsphere(r)))

r   V
1 4.1866666666666665
2 33.49333333333333
3 113.03999999999999
4 267.94666666666666
5 523.3333333333334
6 904.3199999999999
7 1436.0266666666666
8 2143.5733333333333
9 3052.08

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [100]:
# Your code here
import pandas as pd

from google.colab import files
uploaded = files.upload()

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing (2).csv

In [101]:
import pandas as pd
denton_housing = pd.read_csv('Assignment1_denton_housing.csv')
OHU = denton_housing[denton_housing['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
OHU.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [102]:
Vacant_houses = denton_housing[denton_housing['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value']

Occupied_houses= denton_housing[denton_housing['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value']

Total = denton_housing[denton_housing['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value']

year = denton_housing[denton_housing['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year']
Vacant = [str((vacant/total)*100)+' %' for vacant,total in zip(Vacant_houses,Total)]
occupied = [str((occupied/total)*100)+' %' for occupied, total in zip(Occupied_houses, Total)]
final_list = pd.DataFrame(list(zip(year,Vacant, occupied)), columns =['Year','Vacant Housing Units', 'Occupied Housing Units'])
final_list

   Year Vacant Housing Units Occupied Housing Units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

In [117]:
vacant_list = denton_housing[denton_housing['title_field'] == 'Vacant Housing Units']
highest_diff= pd.concat([OHU[OHU['value'] == OHU['value'].max()],vacant_list[vacant_list['value'] == vacant_list['value'].max()]])
print(highest_diff[['title_field','year','value']])

               title_field  year  value
2   Occupied Housing Units  2014  46295
19    Vacant Housing Units  2008   4483

In [118]:
import statistics
print('Harmonic mean  is {0}'.format(statistics.harmonic_mean(Total)))

Harmonic mean  is 44398.28543969185